.sectionHome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
};

.notes-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}

